body {
  padding: 2%;
  min-height: 100%;
  width: 100%;
  background-color: #6469b0;
}

#main-block {
  width: 65%;
  height: 70%;
  float: left;
}

#main-table {
  text-align: center;
  background: gray;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
}

.square {
  width: 100%;
  height: 100%;
  border: 4px solid gray;
}

.highlight {
  border: 4px solid yellow;
}

#main-table table {
  width: 100%;
  height: 100%;
}

.cell-outer {
  box-shadow: 0 0 0 2px black inset;
  background-color: #333;
  background-size: cover;
  text-align: center;
}

.cell {
  width: 90%;
  height: 90%;
  background-size: cover;
  margin: 0 auto;
}

.cell-owned-by-crosses {
  background-image: url('../img/cross.png');
}

.cell-owned-by-circles {
  background-image: url('../img/circle.png');
}

.square-owned-by-crosses {
  background-color: brown;
}

.square-owned-by-circles {
  background-color: lightblue;
}

#left-block {
  float: left;
  margin: 2%;
  width: 15%;
}

#cur-player-block {
  margin-bottom: 5%;
  padding: 4px;
  height: 70px;
  border: 2px orange solid;
  background-color: #333;
}

#notifications {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  overflow: hidden;
  padding: 2%;
  border-radius: 14px;
  width: 15%;
  height: 80%;
}

#restart-btn {
  display: block;
  margin-bottom: 5%;
}

.score {
}

.player1-color {
  color: red;
}

.player2-color {
  color: blue;
}

.score-addon {
  font-weight: bold;
  font-size: 14px;
}

.bot-delay-input {
  display: inline;
  width: 40%;
}
