<!doctype html>
<html lang="en" ng-app="TicTacToeClient">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="GameController">
  <img ng-src="{{ currentPlayerImgSrc() }}" id="currentPlayerImg">
  <div id="notifications">&nbsp;
    <div ng-repeat="notification in notifications | reverse" ng-style="notification.style">
      {{ notification.text }}
    </div>
  </div>
  <table class="main_table">
    <tr ng-repeat="row in table">
      <td ng-repeat="square in row">
        <table class="square" ng-style="square.style">
          <tr ng-repeat="cell_row in square.table">
            <td ng-repeat="cell in cell_row" class="cell" ng-style="cell.style" ng-click="cell.click()">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <script src="js/vendor/angular/angular.js"></script>
  <script src="js/vendor/lodash.min.js"></script>
  <script src="js/game_logic.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
