<!doctype html>
<html lang="en" ng-app="TicTacToeClient">
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe Extended Version</title>
  <link rel="stylesheet" href="css/boilerplate.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="GameController">
  <div id="left-block">
    <img ng-src="img/{{ currentPlayerFigure() }}.png" id="cur-player-block">
    <span class="lead player{{ currentPlayer().id }}-color">{{ currentPlayer().getUsername() }}</span>  <br>
    <div class="btn-group">
      <input id="restart-btn" type="button" class="btn btn-success" value="Restart" ng-click="restartGame()">
      <input id="undo-btn" type="button" class="btn btn-warning" value="Undo" ng-click="undoMove()">
      <div class="btn-group">
        <input type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" value="Resign as">
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="player in players"><a href="#" ng-click="resignAs(player)">{{ player.getUsername() }}</a></li>
        </ul>
      </div>
    </div>
    <label class="control-label lead">Bot enabled
      <input type="checkbox" ng-model="settings.bot.enabled">
    </label>
    <label class="control-label lead">Bot delay (ms)
      <input type="number" class="form-control inline-control"
             ng-model="settings.bot.delay"
             min="0" max="3000" step="100">
    </label>
    <label class="control-label lead">Bot level
      <select class="form-control inline-control" ng-model="settings.bot.level">
        <option ng-repeat="level in [0,1,2]">{{ level }}</option>
      </select>
    </label>

    <div class="player-info-help lead"> Player usernames & scores </div>
    <div class="input-group" ng-repeat="player in players">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" ng-model="player.username" maxlength="20" placeholder="{{ player.getUsername() }}">
      <span class="input-group-addon score-addon
              {{ 'player' + player.id + '-color' }}">
        {{ player.score }}
      </span>
    </div>
  </div>

  <div id="main-block">
    <table id="main-table">
      <tr ng-repeat="square_row in indexesRange" ng-init="outerSquareIndex = square_row">
        <td ng-repeat="square_col in indexesRange" ng-init="innerSquareIndex = square_col"
            class="square-outer">
          <div ng-controller="SquareController" class="square"
               ng-class="{highlight: isNextSquare()}">
            <table>
              <tr ng-repeat="cell_row in indexesRange" ng-init="outerCellIndex = gameSize * square_row + cell_row">
                <td ng-repeat="cell_col in indexesRange" ng-init="innerCellIndex = gameSize * square_col + cell_col"
                    class="cell-outer"
                    ng-class="{'square-owned-by-crosses': squareIsOwnedByCrosses(),
                               'square-owned-by-circles': squareIsOwnedByCircles()}">
                  <div ng-controller="CellController"
                       class="cell"
                       ng-class="{'cell-owned-by-crosses': cellIsOwnedByCrosses(),
                                  'cell-owned-by-circles': cellIsOwnedByCircles()}"
                       ng-click="click()"></div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="notifications">
    <div ng-repeat="notification in notifications | reverse | head:5"
         class="alert notification" ng-class="notification.class">
      <strong>{{ notification.type}}! </strong> {{ notification.text }}
    </div>
  </div>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/angular/angular.js"></script>
  <script src="js/vendor/lodash.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/bootbox.min.js"></script>
  <script src="js/game_logic.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/easy_bot.js"></script>
  <script src="js/random_bot.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
